/*  your css code here. If applicable */
.heading{
	text-align:center;
	color:white;
	padding:1px 0px 0px 0px;
}
.photos img{
 	width:31.2%; 
	border-radius:10px;
	padding:3px
}
.photos{
	position:grid;
	grid-template-column: 1fr 1fr 1fr;
}
.main-div{
	background:darkgray;
}
	
}